# Dependencies and environment for the NYC rats machine learning problem.
# Author: Andrew Jarombek
# Date: 10/4/2020

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
folium = ">=0.11.0"
numpy = ">=1.19.2"
pandas = ">=1.1.2"
scikit-learn = ">=0.23.2"

[requires]
python_version = "3.9"